<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <title>{{ page.title }}</title>
      <link rel="shortcut icon" href="favicon.ico" />
      
      <link href="/stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/text.css" media="screen, projection" rel="stylesheet" type="text/css" />

      <!--[if lt IE 7]>
        <link href="/stylesheets/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <![endif]-->
    </head>
  </head>
  <body>
    <div class="header">
      <a href="/"><img alt="Ottawa Ruby" src="/images/logo.png"></a>
    </div>

    <div class="wrapper">
      {{ content }}
    </div>

    <div class="footer">
    </div>
  </body>
</html>
